body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.top-box {
    display: flex;
    flex-direction: column;
    gap: 15%;
    color: #F9FAF8;
    padding: 0% 20% 5% 20%;
}

.top-box, .footer {
    background-color: #1F2937;
}

.header-links, .hero-desc, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header, .header-logo {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;
    gap: 10%
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    background-color: #3882F6;
    width: 50%;
    height: auto;
}

.hero-desc {
    width: 70%;
}

.image-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.image-box {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
    border-color: #3882F6;
    border-radius: 10%;
}

.info-image {
    background-color: #3882F6;
    width: 100%;
    height: 200px;
}

.quote-box {
    background-color: #E5E7EB;
    padding: 5% 25% 5% 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.image-list-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 5%;
    width: 10%;
    height:auto;
    padding: 10px;
}

.sign-up-box .sign-up {
    border: 3px solid #E5E7EB;
    border-color: #E5E7EB;
    border-radius: .5em;
    background-color: #3882F6;
    width: 10%;
    height: 20%;
}

.sign-up-box {
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 15%;
    padding: 1% 5%;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1%;
}