body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    margin: 0;
}

.top-box {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    padding: 0% 10% 5% 10%;
}

.top-box, .footer {
    background-color: #1F2937;
}

.header-links, .hero-desc, .footer {
    color: #E5E7EB;
    font-size: 18px;
}

.header-links {
    display: flex;
    gap: 20px;
}

.header, .header-logo {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    display: flex;

}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-image {
    background-color: #3882F6;
    width: 30%;
    height: auto;
}

.image-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
}

.image-box {
    display: flex;
    flex-direction: column;
}

.info-image {
    background-color: #3882F6;
    width: 200px;
    height: 200px;
}

.quote-box {
    background-color: #E5E7EB;
    padding: 5%;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.image-list-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.sign-up {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 5%;
    width: 10%;
    height:auto;
    padding: 10px;
}